# Node / npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build artefacts
/.next
/out
/.vercel
/.cache

# Dependencias de Vercel
.vercel

# Variables de entorno locales (NUNCA subirlas al repo!)
.env
.env.local
.env.*.local

# Archivos del editor
.vscode/
.idea/
.DS_Store
Thumbs.db